@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

/* Fonts */
.font-vazirmatn {
  font-family: var(--font-vazirmatn);
}

.font-byekan {
  font-family: var(--font-byekan);
}

.font-kalameh {
  font-family: var(--font-kalameh);
}

.font-phamelo {
  font-family: var(--font-phamelo);
}

.font-geist {
  font-family: var(--font-geist);
}

@layer components {
  .input_class {
    @apply rounded-lg border border-gray-300  bg-gray-50  px-2.5  py-2.5 text-sm disabled:cursor-not-allowed disabled:opacity-80  ltr:pl-10  rtl:pr-10 rtl:text-right placeholder:text-right;
  }
}
